<header id="top">
    <h1>Morten Bojsen-Hansen</h1>
    
    <nav>
        <ul>
            <li <% if page.title == "About" %>class="selected"<% end%>><a href="/">About</a></li>
            <li <% if page.title == "Publications" %>class="selected"<% end%>><a href="/publications">Publications</a></li>
            <li><a href="/resume.pdf">Resume</a></li>
        </ul>
    </nav>

</header>
